body{
    text-align: center;
    background-color: rgb(216, 216, 223);
}
section{
    border-radius: 5px;
    background-color: rgb(240, 243, 243);
    height: 150px;
    width: 400px;
    margin-left: 600px;
}

.bot{
    background-color: rgb(178, 212, 231);
}